td{
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 40px;
    padding: 10px;
    
}
.white{
    background-color: #f0d9b5;

}
.black{
    background-color: #b58863;
}
table{
    border: 15px solid #774c29;
    border-collapse: collapse;
}

.chess_board
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}